body {
    color: white;
    background-color: #222;
    padding: 5px;
}

#buildFilter {
    width: 4em;
    padding: 0.1em;
    margin:0.4em;
    display: inline-block;
}

.horizontalContainer {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
}

.tableAndStatus {
    max-width: 50em;
    flex: auto;
    margin-right: 2rem;
}

/* Hide spinner on number boxes */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
